* {
  box-sizing: border-box;
  padding: 0%; 
    content: none;
    padding: 0;
    margin: 0;
  
}
.App2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #333;
  justify-content: space-between;
  width: 100%;
  background-color: #EEEEEE;
  gap: 10px;

}
.order {
  display: inline-block;
  background-color: #ff9900;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.order:hover {
  background-color: #e58100;
  color: white;
}
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.login  {
  text-align: center;
  font-family: serif;
  font-style: bold;
}
.up {
  font-family: serif;
  font-size: larger;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.uname,
.pass {
  align-items: center;
  margin-bottom: 15px;
  width: 90%;
}
.bw {
  text-decoration: none;
}
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cart {
  color: #007bff;
}

.header {

  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, #D6E6F2, #A7CCE8);
  align-items: center;
}



.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.category-link {
  font-weight: bold;
}

.cart {
  background-color: #eeeeee;
  padding: 5px 10px;
  border-radius: 5px;
  color: #46466E;
}

.nav_links li {
  list-style: none;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.nav_links .links {
  text-decoration: none;
  color: #506F86;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav_links .links:hover {
  background-color: #ff9900;
  color: white;
}

.mainsearch {
  width: 210px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
 border-radius: 30px;
  overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
  }
{
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

button {
  background-color: #ff0000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

button:hover {
  background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
  animation: slidernbw 5s linear infinite;
  color: #000;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

@media (max-width: 768px) {
  .card {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }

}

.address {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.address h6 {
  font-size: 18px;
  margin-bottom: 10px;
}

.payment input[type="text"],
.payment input[type="email"],
.payment textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment textarea {
  resize: vertical;
}

.payment button {
  background-color: #007bff;
  color: rgb(150, 97, 97);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment button:hover {
  background-color: #0056b3;
}

.payment select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment select option {
  padding: 10px;
}

Carousel {
  box-sizing: border-box;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  color: #333;
  background: linear-gradient(135deg, #506F86 10%, #32465D 78%);

}

.carousel-inner,
.carousel-item {
  align-items: center;
  justify-content: center;
  max-height: 700px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  background-color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  height: 350px;

}

.carousel-item img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;border: #46466E;
}

h1 {
  font-size: 50px;
  font-family: serif;
  text-decoration: none;
  color: #D6E6F2;
  
}
.header h1 {
  color: #303841;
  text-decoration: none;
}
.header .bw a {
  text-decoration: none;
}
.nav_links Link {
  text-decoration: none;
}

.foot {
  background: linear-gradient(45deg, #D6E6F2 10%, #A7CCE8 85%);
}



.foot a {
  color: #555;
  text-decoration: none;
  margin-right: 8px;
}

.foot a:hover {
  color: #007bff;
}

.foot h6 {
  color: #811589;
  font-weight: bold;
  font-size: larger;
}

.foot p {
  color: #888;
}

.foot p.grey-text {
  color: #777;
}

@media (max-width: 768px) {
  .foot {
    text-align: center;
  }

  .foot p {
    margin-bottom: 10px;
  }
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3;
}

  {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .nav_links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_links .links {
    margin-top: 10px;
  }
}



.detailcard {
  display: flex;
  background-color: #EEEEEE;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.dproductimage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dproductimage img {
  max-width: 100%;
  height: auto;
}

.dproductdetails {
  flex: 2;
  padding: 0 20px;
  background-color: #fff;
}

.dproductdetails h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #7a6464;
}

.dproductdetails p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.dproductdetails h3[style*="textAlign:left"] {
  text-align: left;
}

.dproductdetails strike {
  color: #5e5454;
}

.dproductdetails h3[style*="textAlign:left"] {
  font-weight: bold;
}

@media (max-width: 768px) {
  .detailcard {
    flex-direction: column;
  }

  .dproductdetails {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {

  .App {
    text-align: center;
  }

 

  
  .input {
    width: 100%;
    padding-left: 10px;
  }

  .App-logo {
    height: auto;
    width: 100%;
  }

  button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
  }

  .card {
    width: 100%;
    max-width: 30px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;

  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav_links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_links .links {
    margin-top: 5px;
    padding: 5px 15px;
  }

  .order {
    display: block;
    margin: 10px auto;
  }

  .dproductdetails {
    padding: 10px;
  }

  h1 {
    font-size: 32px;

  }
}

.CONTAINER {
  background-color: #EEEEEE;
}

.add {
  width: 50px;

}

.quantity {
  gap: 10px;
}